<nav-bar title="Perfil Trabajador"></nav-bar>

<ion-content>
    
    <ion-grid >
        <ion-row>
            <ion-col>
                <ion-list-header class="nombreT">
                    <ion-label>
                        {{ nombre }} {{ apellidos }}
                    </ion-label>
                </ion-list-header>
                <ion-avatar class="ion-margin-start">
                    <ion-icon class="fotoPerfil" name="person"></ion-icon>
                </ion-avatar>
            </ion-col>
            <ion-col>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                        </ion-col>
                        <ion-col>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                        </ion-col>
                        <ion-col>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="puntuacion">
                            <ion-icon name="star-half-outline"></ion-icon>
                            4.3
                        </ion-col>
                        <ion-col class="puntuacionUbica">
                            <ion-icon name="location-outline"></ion-icon>
                            {{ direccion }}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="puntuacion2">
                            4.350 Calificaciones
                        </ion-col>
                        <ion-col class="puntuacion2">
                            Hace 3 años en Fix+
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <img src="https://www.casaschilespa.cl/img/cms/Maule-home_1.jpg">
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                Descripción
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis praesentium unde nihil exercitationem
                atque ad ducimus facere nostrum, consequuntur sit animi corrupti quaerat
                voluptates veniam cumque ipsum placeat. Distinctio, sapiente.
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="full" routerLink="/trabajos">
                    Administrar Trabajos
                </ion-button>
                <ion-button expand="full" (click)="eliminarUsuario()">
                    Eliminar Cuenta
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>