.botones-trabajo {
    display: flex;
    justify-content: space-between;
    background-color: #157cb9;
}

.notas {
    width: 100%;
}

.botones-accion {
    display: contents;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}