<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button  color="warning" href="categories">
                    <ion-icon name="hammer-outline"></ion-icon>
                    Carpintero
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="flower-outline"></ion-icon>
                    Jardineria
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="home-outline"></ion-icon>
                    Muebleria
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="build-outline"></ion-icon>
                    Gasfiteria
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="flash-outline"></ion-icon>
                    Eletricidad
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="construct-outline"></ion-icon>
                    Construccion
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="car-outline"></ion-icon>
                    Mecanica
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="settings-outline"></ion-icon>
                    Soldador
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="key-outline"></ion-icon>
                    Cerrajero
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="shirt-outline"></ion-icon>
                    Lavandero
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="color-palette-outline"></ion-icon>
                    Pintor
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="fast-food-outline"></ion-icon>
                    Cocinero
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="man-outline"></ion-icon>
                    Deshollinador
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="cut-outline"></ion-icon>
                    Sastre
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>