<nav-bar title="Mi Perfil"></nav-bar>

<ion-content fullscreen={true}>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list-header class="nombreT">
                    <ion-label>
                        {{ nombre }} {{ apellidos }}
                    </ion-label>
                </ion-list-header>
                <ion-avatar class="ion-margin-start">
                    <img
                        src="https://st1.uvnimg.com/dims4/default/e4a30ce/2147483647/resize/420x620%3E/quality/75/?url=http%3A%2F%2Fuvn-brightspot.s3.amazonaws.com%2F2f%2Fab%2F25ff5ab841bb94e505bae9eb217a%2Fa.jpeg">
                </ion-avatar>
            </ion-col>
            <ion-col>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                        </ion-col>
                        <ion-col>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                        </ion-col>
                        <ion-col>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="puntuacionUbica">
                            <ion-icon name="location-outline"></ion-icon>
                            {{ direccion }}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="puntuacion2">
                            Ha calificado 230 veces
                        </ion-col>
                        <ion-col class="puntuacion2">
                            35 años
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row>  
            <ion-card>
                <ion-card-header>
                  <ion-card-title>Comentarios</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                    <ion-card>
                        <ion-item>
                            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                            <ion-label>Ricardo Lopez</ion-label>
                            <ion-button color="warning" fill="outline" slot="end">5/5</ion-button>
                        </ion-item>
                        <ion-card-content>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis neque ipsum aut distinctio in temporibus consequatur sequi odit quae incidunt magnam commodi vel impedit veniam autem, officia ex possimus eveniet?
                        </ion-card-content>
                    </ion-card>
                </ion-card-content>
              </ion-card>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="full" routerLink="/editarUsuario">
                    Modificar Cuenta
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="full" (click)="eliminarUsuario()" href="/">
                    Eliminar Cuenta
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
