
.nombreT{
    font-size: 25px;
    text-align: center;
}   

.ion-margin-start{
    width: 8rem;
    height: 8rem;
}
.puntuacion{
    font-size: 30px;
    text-align: center;
}

.puntuacion2{
    font-size: 16px;
    text-align: center;
}

.puntuacionUbica{
    font-size: 20px;
}
