<nav-bar title="Acerca de"></nav-bar>
<ion-grid>
    <ion-row>
        <ion-col>
            <img src="../assets/icon/logo_transparent_1.png">
        </ion-col>
    </ion-row>
</ion-grid>

<ion-grid>
    <ion-row class="about">
        <ion-col>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, dolorem soluta? Quidem nihil officia distinctio, dolore consectetur veritatis quod dignissimos nemo obcaecati illo aliquam deserunt modi! Obcaecati accusantium eos autem.
        </ion-col>
    </ion-row>
    <ion-row class="about">
        <ion-col>
        Fix+ 2021 Todos los derechos reservados
        </ion-col>
    </ion-row>
</ion-grid>

