<ion-item class="tituto-app">
    <ion-label class="titulo-app">
        Fix +
    </ion-label>
</ion-item>
<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">
                            Bienvenido
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">Correo</ion-label>
                                        <ion-input type="text" [(ngModel)]="usuario"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">Contraseña</ion-label>
                                        <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="block" href="" color="warning">
                                        Iniciar sesión</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-card-title class="ion-text-center">
                                Iniciar sesion con
                            </ion-card-title>
                            <ion-row>
                                <ion-col>
                                    <ion-button class="boton-facebook" expand="block" color="tertiary">
                                        <ion-icon name="logo-facebook"></ion-icon>
                                        Facebook
                                    </ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button class="boton-google" expand="block" color="light">
                                        <ion-icon name="logo-google"></ion-icon>
                                        Google
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="10" offset="1" class="ion-text-center">
                                    <ion-router-link href="register">
                                        ¿No tienes cuenta?
                                    </ion-router-link>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="10" offset="1" class="ion-text-center">
                                    <ion-router-link href="recuperar">
                                        ¿Olvidaste tu contraseña?
                                    </ion-router-link>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>