<nav-bar title="Favoritos"></nav-bar>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-title class="maestros"> Maestros Favoritos</ion-title>
            </ion-col>
        </ion-row>
        
    </ion-grid>
    

    <ion-card>
        <ion-item href="perfilT">
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Ricardo Lopez</ion-label>
            <ion-button color="primary">
                <ion-icon name="heart"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Juan D</ion-label>
            <ion-button color="primary">
                <ion-icon name="heart"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-card>
    
    <ion-card>
        <ion-item>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Sebastian R</ion-label>
            <ion-button color="primary">
                <ion-icon name="heart"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-card>
    
    <ion-card>
        <ion-item>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Nico S</ion-label>
            <ion-button color="primary">
                <ion-icon name="heart"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Raul L</ion-label>
            <ion-button color="primary">
                <ion-icon name="heart"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Luis T</ion-label>
            <ion-button color="primary">
                <ion-icon name="heart"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Richard P</ion-label>
            <ion-button color="primary">
                <ion-icon name="heart"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-card>