<nav-bar title="Fix +"></nav-bar>
<ion-item color="warning" class="item-categoria">
    <ion-label class="categoria-label">Categorias</ion-label>
</ion-item>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button color="warning" href="categories">
                    <ion-icon name="hammer-outline"></ion-icon>
                    Carpintero
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="flower-outline"></ion-icon>
                    Jardineria
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="home-outline"></ion-icon>
                    Muebleria
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="build-outline"></ion-icon>
                    Gasfiteria
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="flash-outline"></ion-icon>
                    Eletricidad
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="construct-outline"></ion-icon>
                    Construccion
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-button color="warning" class="Ver"> Ver mas </ion-button>

    <ion-title class="maestros"> Maestros Populares</ion-title>

    <ion-card>
        <ion-item>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Ricardo Lopez</ion-label>
            <ion-button color="warning" fill="outline" slot="end">5/5</ion-button>
        </ion-item>
        <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Ricardo Lopez</ion-label>
            <ion-button color="warning" fill="outline" slot="end">5/5</ion-button>
        </ion-item>
        <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
        </ion-card-content>
    </ion-card>    

</ion-content>