<ion-item>
    <ion-button href="loginMaestro">
        <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-grid class="a">
        <ion-row>
            <ion-col>
                <ion-label class="titulo-app">
                    Fix +
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-item>
<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">
                            Registro de Maestros
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">Correo</ion-label>
                                        <ion-input 
                                            type="text"
                                            required
                                            [(ngModel)]="maestro.correo"
                                        ></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">Nombre</ion-label>
                                        <ion-input 
                                            type="text"
                                            required
                                            [(ngModel)]="maestro.nombre"
                                        ></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">Apellidos</ion-label>
                                        <ion-input
                                            required
                                            type="text"
                                            [(ngModel)]="maestro.apellidos"
                                        ></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row> 
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">Telefono</ion-label>
                                        <ion-input 
                                            required
                                            type="text"
                                            [(ngModel)]="maestro.telefono"
                                        ></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Profesion
                                        </ion-label>
                                        <ion-input
                                            required
                                            [(ngModel)]="maestro.profesion"
                                        >
                                        </ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Direccion
                                        </ion-label>
                                        <ion-input
                                            required
                                            [(ngModel)]="maestro.direccion"
                                        >
                                        </ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">Contraseña</ion-label>
                                        <ion-input
                                            required 
                                            type="password"
                                            [(ngModel)]="maestro.contrasena"
                                        ></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>          
                            <ion-row>
                                <ion-col>
                                    <ion-button 
                                        expand="block" 
                                        (click)="agregarMaestro()"
                                        color="warning"
                                        
                                    >
                                        Registarse</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button 
                                        expand="block" 
                                        routerLink="/loginMaestro"
                                        color="danger"
                                    >
                                        Cancelar</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content> 