<nav-bar title="Buscar..."></nav-bar>
<ion-content>
    <!-- Regiones -->
    <ion-item>
        <ion-label>Region</ion-label>
        <ion-select multiple="true" cancelText="Cancelar" okText="Aceptar">
            <ion-select-option>Arica y Parinacota</ion-select-option>
            <ion-select-option>Tarapaca</ion-select-option>
            <ion-select-option>Antofagasta</ion-select-option>
            <ion-select-option>Atacama</ion-select-option>
            <ion-select-option>Coquimbo</ion-select-option>
            <ion-select-option>Valparaiso</ion-select-option>
            <ion-select-option>Metropolitana</ion-select-option>
            <ion-select-option>Oh'Higgins</ion-select-option>
            <ion-select-option>Maule</ion-select-option>
            <ion-select-option>Biobio</ion-select-option>
            <ion-select-option>Araucania</ion-select-option>
            <ion-select-option>Los Rios</ion-select-option>
        </ion-select>
    </ion-item>
    <!-- Comunas -->
    <ion-item>
        <ion-label>Comuna</ion-label>
        <ion-select multiple="true" cancelText="Cancelar" okText="Aceptar">
            <ion-select-option>San Bernardo</ion-select-option>
            <ion-select-option>El Bosque</ion-select-option>
            <ion-select-option>Recoleta</ion-select-option>
            <ion-select-option>Independencia</ion-select-option>
            <ion-select-option>Las Condes</ion-select-option>
            <ion-select-option>Renca</ion-select-option>
            <ion-select-option>Conchalí</ion-select-option>
            <ion-select-option>Huechuraba</ion-select-option>
            <ion-select-option>Quilicura</ion-select-option>
            <ion-select-option>Santiago</ion-select-option>
        </ion-select>
    </ion-item>
    <!-- Especialidad -->
    <ion-item>
        <ion-label>Especialidad</ion-label>
        <ion-select multiple="true" cancelText="Cancelar" okText="Aceptar">
            <ion-select-option>Gasfiteria</ion-select-option>
            <ion-select-option>Carpinteria</ion-select-option>
            <ion-select-option>Muebleria</ion-select-option>
            <ion-select-option>Electricidad</ion-select-option>
            <ion-select-option>Cerrajeria</ion-select-option>
            <ion-select-option>Pintura</ion-select-option>
            <ion-select-option>Construccion</ion-select-option>
            <ion-select-option>Seguridad</ion-select-option>
            <ion-select-option>Jardineria</ion-select-option>
        </ion-select>
    </ion-item>
    <!-- puntuacion -->
    <ion-item>
        <ion-label>Puntuacion</ion-label>
        <ion-select multiple="true" cancelText="Cancelar" okText="Aceptar">
            <ion-select-option>1 Estrella</ion-select-option>
            <ion-select-option>2 Estrella</ion-select-option>
            <ion-select-option>3 Estrella</ion-select-option>
            <ion-select-option>4 Estrella</ion-select-option>
            <ion-select-option>5 Estrella</ion-select-option>
        </ion-select>
    </ion-item>

    

</ion-content>