<ion-item>
    <ion-button href="login">
        <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-label class="titulo-app">
        Recuperar contraseña
    </ion-label>
</ion-item>
<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">
                            Por favor introduce tu correo electronico
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">Correo</ion-label>
                                        <ion-input type="text"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="block" color="warning">
                                        Recuperar contraseña</ion-button>
                                </ion-col>
                            </ion-row>
                            
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>